<html>
<head>

    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/adminConsole.css') }}">
</head>
{%extends 'adminNavBar.html'%}
{%block content %}
<body>
<main>
<div style="main">
<table id = "workerList" style = "width:50%">
	<caption style="font-size: 16px; font-weight: bold;">All Current Workers</caption>
          <tr> <!-- defining the table headers... -->
          <th> Test </th>
	  <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Username</th>
          </tr>

	{% for row in allWorkers %}
	<tr>
	    <td> <input type="checkbox" id="selectWorker_{{row[0]}}"> </td>
	    <td> {{row[0]}} </td>
	    <td> {{row[1]}} {{row[2]}} </td>
	    <td> {{row[3]}} </td>
	</tr>
	{% endfor %}
	
		</table>
</div>
</main>
</body>
{% endblock %}
</html>
